@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');


*{
   margin: 0%;
   padding: 0;
}

body{
    background-color: #F0EFEF;
}



article{
    font-family:  'Open Sans', sans-serif;
    width: 30%;
    height: 55vh;
    background-color: white;
    padding: 50px;
    margin-top: 10%;
    margin-left: 35%;
    font-size: 15px;
    
}

h1{
    margin-bottom: 4%;
}


span{
    color: #588BDA;
}

.primero{
    margin-bottom: 4%;
}

.segundo{
    margin-bottom: 10%;
}


a{
    text-decoration: none;
    width: 80%;
    padding: 10px 50px;
    background-color: #588BDA;
    color: white;
    box-shadow: 10px 10px 5px -3px rgba(102,99,224,0.43);
    -webkit-box-shadow: 10px 10px 5px -3px rgba(102,99,224,0.43);
    -moz-box-shadow: 10px 10px 5px -3px rgba(102,99,224,0.43);  
    border-radius: 3px;
    
}